<div class="sidemenu" style=" height: 600vh;width:20%;background-color:#0086B3;position:relative;float:left;padding:0px;display: block;">
    <div ng-if="appType == 'admin'">
        <ul>

            <md-button style="width:100%;margin:0px;text-align:left"><a  href="/tenant/register">Register Tenant</a></md-button>
            <md-button style="width:100%;margin:0px;text-align:left"><a  href="/tenant/list">List Tenants</a></md-button>
            <!--<li>Tenant Management</li>-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<a href="/tenant/register">Register Tenant</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/tenant/list">List Tenants</a>-->
                    <!--</li>-->
                <!--</ul>-->
        </ul>
    </div>

    <div ng-if="appType == 'tenant'">
        <md-button style="width:100%;margin:0px;text-align:left"><a  href="#">Edit Profile</a></md-button>
        <md-button style="width:100%;margin:0px;text-align:left"><a  href="/user/list/request">Requests</a></md-button>
        <md-button style="width:100%;margin:0px;text-align:left"><a  href="#">My Requests</a></md-button>
        <md-button style="width:100%;margin:0px;text-align:left"><a  href="/post/request">Post Request</a></md-button>
        <!--
        <ul>

            <li><a  href="/user/list/request">Requests</a></li>
            <li>My Requests</li>
            <li><a  href="/post/request">Post Request</a></li>
        </ul>
        -->
    </div>
</div>

