<div >


    <div ng-if="data == 'name'">
       <md-header class="md-display-2">{{property.slice(0).toUpperCase()}}</md-header>
    </div>
   <!-- <div ng-if="data == '_id' ||">
        <md-header class="md-display-2">{{data}}</md-header>
    </div>-->
    <div ng-if="(!(data == 'name') && (data != null))">
        <label>{{data[0].toUpperCase() + data.slice(1).toLowerCase()}}</label>
    </div>
    <!--<md-header>{{data}}</md-header>-->
    <!--<div ng-if="isArray(property)">
        &lt;!&ndash;<div ng-if="isObject(property)">&ndash;&gt;
            <div ng-repeat="p in property">
                &lt;!&ndash;<div ng-repeat="(keyIn, valueIn) in p">&ndash;&gt;
                    <property-display property="valueIn" data="keyIn"></property-display>
                &lt;!&ndash;</div>&ndash;&gt;
            </div>
        &lt;!&ndash;</div>&ndash;&gt;
    </div>-->
    <div ng-if="isObject(property)">
        <div ng-if="isArray(property)">
            <!--<div ng-if="isObject(property)">-->
            <div ng-repeat="p in property">
                <property-display property="p" ></property-display>
            </div>
        </div>
            <!--</div>-->
        <div ng-if="!(isArray(property))">
        <!--<div ng-repeat="p in property">-->
            <div ng-repeat="(keyIn, valueIn) in property">
                <property-display property="valueIn" data="keyIn"></property-display>
            </div>
        <!--</div>-->
        </div>
    </div>
    <div ng-if="!(isObject(property))">
        <div ng-if="!(data == 'name')">
            <md-subheader>{{property}}</md-subheader>
        </div>
        <!--<span class="md-display">{{property}}</span>-->
        <!--<br>-->
    </div>
    <!--<br>-->
   <!-- <label>{{data[property.name]}}</label>-->
</div>


