<md-toolbar class="md-toolbar-tools" style="margin:0px;width:100%;padding:20px;background-color:#66ccff;border-bottom: solid;border-bottom-width: 3px;border-bottom-color: #d3d3d3">
    <h3 class="md-display-1">Create Tenant User</h3>
</md-toolbar>

<div style="padding:20px">
    <md-card style="margin: auto; text-align: center; width: 50%;">

        <ng-form name="form" novalidate>
            <md-input-container>
                <md-select ng-model="userType" placeholder="Select a User Type" ng-change="loadSignUpForm()">
                    <md-option ng-value="userConf.name" ng-repeat="userConf in userConfList">{{userConf.name}}</md-option>
                </md-select>
            </md-input-container><br>
            <h1>Creating User of Type {{userConf.name}}</h1>
            <div ng-repeat="p in userConf.properties">
                <property-input property="p" form="signUpForm"></property-input>
            </div>
            <md-button class="md-raised md-primary" aria-label="FAB" ng-click="signup()" ng-disabled="form.$invalid" >Create User</md-button>
        </ng-form>

    </md-card>
</div>
