<style>

    tr.spaceUnder>td {
        padding-bottom: 1.5em;
    }

</style>


<div class="full-width-container-nopadding white-bg ng-scope" style="margin-top:30px;">

    <div style="margin:30px">

        <div class="search-result-left-col  mCustomScrollbar" >
<!--<div style=" margin-bottom: 30px; text-align: center">
    <span style="font-size: 30px;font-weight: bolder; ">Profile</span>
</div>-->

            <h1 class="main-h1" >Profile</h1>


                                <form name="form">

                                    <div class="row">

                                    <div class="col-md-4" >
                                        <img style="height:200px; width:200px;" src="../public/images/avatar.png">
                                    </div>

                                    <div class="col-md-8" >

                                    <table class="table" style="width:100%">

                                        <tr ng-repeat="(key, value) in result" property-display="row" property="value" data="key" class="spaceUnder">
                                            <!--<tr ng-repeat="l in list" class="row" name="test">-->
                                            <!--<property-display property="key" data="value"></property-display>-->
                                            <!--</tr>-->
                                        </tr>

                                    </table>
                                    </div>
                                    </div>
                                </form>




            <!--
            <table class="table table-striped table-bordered table-hover" show-filter="true">
                <tr ng-repeat="(key, value) in result">
                    <property-display property="value" data="key"></property-display>
                    {{key}}
                  &lt;!&ndash;  <td data-title="'Name'" filter="{ reqname: 'text'}" sortable="'reqname'">
                       {{key}}
                    </td>
                    <td data-title="'Posted By'" filter="{username:'text'}" sortable="'username'">
                        {{value}}
                    </td>&ndash;&gt;
                </tr>
            </table>-->





    </div>



    </div>


</div>