<!--<details>-->
    <!--<summary>-->
        <!--<ul>-->
            <!--<li class="titleName">{{response.requestDetails.requestType}}</li>-->
            <!--<li class="titleValue"> {{response.requestDetails.postUserDetails.name}}</li>-->
            <!--<li class="titleValue"> {{response.requestDetails.postUserDetails.userType}}</li>-->
            <!--<li></li>-->
        <!--</ul>-->
    <!--</summary>-->
    <!--<div ng-if="response.requestDetails.userResponses.length > 0">-->
    <!--<div class="content">-->
        <!--<div ng-repeat="response in response.requestDetails.userResponses">-->
            <!--<request-response-expansion response="response"></request-response-expansion>-->
        <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div ng-if="!(response.requestDetails.userResponses.length > 0)">-->
        <!--<div class="content">-->
            <!--<p>No more responses yet.</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</details>-->

<a href="javascript:;" class="company-result-row" ng-click="selectTask(123)">



    <div class="company-result-left-box">

        <div class="company-left-col-logo">
            <img src="images/companies/fsd-solutions-squarelogo-1505378201511.png">
        </div>



    </div>


    <div class="company-result-right-box">
        <div class="company-left-job-title">

            {{response.requestDetails.requestType}}

        </div>


        <div class="company-left-title">

            {{response.requestDetails.postUserDetails.name}}

        </div>

        <div class="company-left-city">

            Karachi

        </div>


    </div>


    <div class="date-posted">


        {{response.requestDetails.dateCreated}}


    </div>




</a>


<div ng-if="response.requestDetails.userResponses.length > 0" style="margin-left:20px">
    <div ng-repeat="response in response.requestDetails.userResponses">
        <request-response-expansion response="response"></request-response-expansion>
    </div>
</div>

<div ng-if="!(response.requestDetails.userResponses.length > 0)">
    <div class="content">
        <p>No more responses yet.</p>
    </div>
</div>
