/* form starting stylings ------------------------------- */

body {
    font-family: 'Droid Sans', sans-serif;
}

.contact-form {
    display: table;
    margin: 0 auto;
    max-width: 640px;
    padding-top: 40px;
    text-align: center;
}


.signin-content {
    max-width: 480px;
    margin: 0 auto;
     text-align: center;
        padding-top: 40px;
}

.submit-form-btn:hover {
    cursor: pointer;
}


.full-btn {
       background-color: #3681ee;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 20px 50px;
    width: 100%;
    border: 0px;
}




.submit-form-btn-active {
    border: 1px solid #1fb0ef;
    cursor: pointer;
}

.form-heading {
    font-size: 18px;
    margin-top: 24px;
}

.submit-button-row {
    float: left;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

.submit-form-btn {
    background: #89b9ff;
    /* border: 1px solid; */
    /* border-radius: 50px; */
    color: #fff;
    font-size: 21px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 35px;
    text-align: center;
    width: 100%;
}

.form-field input {
    border: 1px solid #cccccc;
    height: 34px;
    margin-top: 12px;
    padding: 5px;
    width: 100%;
}

.contact-col-1 {
    width: 100%;
    float: left;
}

.contact-col-2 {
    width: 100%;
    float: left;
}

.form-heading-message {
    font-size: 14px;
}

.form-field textarea {
    border: 1px solid #cccccc;
    height: 30px;
    margin-top: 12px;
    padding: 5px;
    width: 100%;
    height: 205px;
    resize: none;
}

.form-field select {
    border: 1px solid #cccccc;
    height: 34px;
    margin-top: 12px;
    padding: 5px;
    width: 100%;
}

.submit-button-row {
    float: left;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #bfbfbf;
}

input:focus {
    outline: none;
}


/* LABEL ======================================= */

label {
    color: #b1b1b1;
    font-size: 16px;
    font-weight: normal;
    left: 5px;
    pointer-events: none;
    position: absolute;
    top: 10px;
    transition: all 0.2s ease 0s;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/* active state */

input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 16px;
    color: #b1b1b1;
}


/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 300px;
    float: left;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #1fb0ef;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    float: left;
    left: 0;
}


/* active state */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 100%;
}

.group input {
    width: 100%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-sizing: border-box;
}

.group .bar {
    width: 100%;
}


/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active state */

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #transparent;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.form-error-message {
    display: table;
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.form-error-message span {
    border: 1px solid #c00;
    display: table;
    margin: 15px auto 0;
    padding: 5px 44px;
}

.group .error {
    border-bottom: 1px solid #C00;
    font-weight: bold !important;
}

.contact-col-1,
.contact-col-2 form {}



/* turn it off completely */
select:active, select:hover {
  outline: none
}

/* make it red instead (with with same width and style) */
select:active, select:hover {
  outline-color: red
}

.group select {
    background: rgba(0, 0, 0, 0) url("../images/dropdown.png") no-repeat scroll right center;
    border: medium none;
    font-size: 18px;
    color: #b1b1b1;
    right: 0;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 10px;
    text-overflow: "";
    top: 10px;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 5px;
}

.group textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    overflow: auto;
    resize: none;
    vertical-align: top;
    width: 100%;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #bfbfbf;
}

.contact-form-comments {
    clear: both;
    display: block;
    float: left;
    position: relative;
    width: 100%;
}

.main-h1 {
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.gray-text {
    color: #5b616e;
}

.gicon {
    position: absolute;
    left: 15px;
    top: 15px;
}

.sign-gmail {
    background-color: #479efc;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 25px 50px;
}

.or-signup {
   
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
}

.or-signup::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    display: block;
    width: 40%;
    height: 1px;
    background-color: rgb(229, 230, 232);
}

.or-signup::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0px;
    display: block;
    width: 40%;
    height: 1px;
    background-color: rgb(229, 230, 232);
}


.form-btn {
      background: #2f7bea;
      position: relative;
      font-size: 18px;
      text-align: center;
      -webkit-appearance: none;
      padding: 20px 20px;
      border-radius: 3px;
      outline: none;
      transition: all 300ms ease;
      width: auto;
      display: table;
      float: right;
      color: #fff;
      border: 0px;
      text-align: right;
      margin-bottom: 40px;
}

.form-btn:hover {cursor: pointer;}

hr {
    background-color: #e5e6e8;
    margin: 40px 0px 15px;
    border: 0px;
    height: 1px;
    clear: both;
    }
.form-btn  img {padding-left: 7px;}
.sign-gmail:hover {cursor: pointer;}

.forgot-pwd-row {    width: 100%;
    clear: both;
    margin-top: 30px;
    float: left;}
.forgot-pwd-row p {font-size: 14px;}
.forgot-pwd-row a {color: #337ab7;border-bottom: 1px solid;}
.forgot-pwd-row p:first-child {margin-bottom: 10px;}


.forgot-pwd-row .forgot-pwd {    text-align: center;
    text-decoration: none;
    margin-bottom: 30px;
    border: 0px;
    padding-bottom: 0px;
    float: left;
    text-align: center;
    width: 100%;}
@media only screen and (max-width: 767px) {
    .contact-form {
        display: table;
        margin: 0 auto;
        max-width: 90%;
        padding-top: 40px;
        text-align: center;
    }
}
