<md-toolbar class="md-toolbar-tools" style="margin:0px;width:100%;padding:20px;background-color:#66ccff;border-bottom: solid;border-bottom-width: 3px;border-bottom-color: #d3d3d3">
    <h3 class="md-display-1">Tenants</h3>
</md-toolbar>

<div>

    <table ng-table="tenantsTable" class="table table-striped table-bordered table-hover" show-filter="true">
        <tr ng-repeat="tenant in $data">
            <td data-title="'No. '" >
                {{ $index + 1 }}
            </td>
            <td data-title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                <a href=tenant/view/{{tenant._id}}>{{tenant.name}}</a>
            </td>
            <td data-title="'Publish Date'" filter="{ publishdate: 'text'}" sortable="'publishdate'">
                01/01/2017
            </td>
            <td data-title="'Status'" filter="{ status: 'text'}" sortable="'status'">
                Active
            </td>
            <td data-title="'Actions'" filter="{ actions: 'text'}" sortable="'actions'">
                <select>
                    <option>Change Status</option>
                    <option>Remove</option>
                </select>
            </td>
        </tr>
    </table>

</div>