<md-toolbar class="md-toolbar-tools" style="margin:0px;width:100%;padding:20px">
    <h3 class="md-display-1">Register Tenant</h3>
</md-toolbar>

<div ng-cloak>
    <md-content>
        <form name="tenantRegistrationForm">
        <div class="col-md-12">
        <md-tabs md-dynamic-height md-border-bottom style="width:100%">
            <md-tab label="Properties">
                <md-content class="md-padding">
                    <div class="row">
                    <h1 class="md-display-1">Tenant Properties
                        <md-button class="md-fab" ng-click="addProperty()" style="background-color:blue">+</md-button>
                    </h1>
                    </div>

                    <div class="row">
                    <md-input-container>
                        <label>Tenant Name</label>
                        <input name="name" ng-model="tenant.name" required unique/>{{tenant.name}}
                        <div ng-messages="tenantRegistrationForm.name.$error">
                            <div ng-message="required">This is required !</div>
                            <div ng-message="unique">Tenant name already exists !</div>
                        </div>
                    </md-input-container>
                    </div>

                    <div class="row">
                    <div ng-repeat="p in tenant.properties">
                        <md-input-container>
                            <label>Property Name</label>
                            <input name="tenantField{{p.name}}" ng-model="p.name" required ng-change="checkPropertyNameUnique('tenantField',p.name,tenant.properties)"/>
                            <div ng-messages="tenantRegistrationForm['tenantField' + p.name].$error">
                                <div ng-message="required">Property name is required.</div>
                                <div ng-message="unique">Property name already exists</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Property Value</label>
                            <input name="tenantField{{p.name}}Value" ng-model="p.value" required/>
                            <div ng-messages="tenantRegistrationForm['tenantField' + p.name + 'Value'].$error">
                                <div ng-message="required">Property value is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Users">
                <md-content class="md-padding">
                    <div class="row">
                    <h1 class="md-display-1">Users
                        <md-button class="md-fab" ng-click="addUser()">+</md-button>
                    </h1>
                    </div>

                    <div class="row">

                    <md-card ng-repeat="u in tenant.users" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch style="padding-left:0px;width:900px">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">User</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <md-input-container>
                                <label>Name</label>
                                <input name="userTypeName{{u.name}}" ng-model="u.name" required ng-change="checkPropertyNameUnique('userTypeName',u.name,tenant.users)"/>{{u.name}}
                                <div ng-messages="tenantRegistrationForm['userTypeName'+u.name].$error">
                                    <div ng-message="required">Name is required!</div>
                                    <div ng-message="unique">User name already exist</div>
                                </div>
                            </md-input-container>

                            <p>Number of Users Allowed</p>
                            <md-select name="userTypeLimited{{u.name}}" ng-model="u.limited" required>
                                <md-option value="1">Limited</md-option>
                                <md-option value="0">Unlimited</md-option>
                                <div ng-messages="tenantRegistrationForm['userTypeLimited'+u.name].$error">
                                    <div ng-message="required">Number of user allowed is required!</div>
                                </div>
                            </md-select>{{u.limit}}

                            <div ng-if="u.limited == 1">
                                <md-input-container>
                                    <label>Specify the number of users allowed</label>
                                    <input  ng-model="u.limit"/>
                                </md-input-container>
                            </div>

                            <p>Add user Properties <md-button  class="md-fab" ng-click="addUserProperty(u)">+</md-button> </p>

                                <div ng-repeat="p in u.properties" style="margin-top:10px;">
                                   <property-configuration property="p" properties="u.properties"></property-configuration>

                                </div>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>

                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Requests">
                <md-content class="md-padding">
                    <h1 class="md-display-1">Requests
                        <md-button class="md-fab" ng-click="addRequest()">+</md-button>
                    </h1>

                    <md-card ng-repeat="r in tenant.requests" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Request</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <md-input-container>
                                <label>Name</label>
                                <input name="name" ng-model="r.name"/>{{u.name}}
                            </md-input-container>

                            <p>Number of Users Allowed</p>
                            <md-select ng-model="r.limited">
                                <md-option value="1">Limited</md-option>
                                <md-option value="0">Unlimited</md-option>
                            </md-select>{{r.limit}}

                            <div ng-if="r.limited == 1">
                                <md-input-container>
                                    <label>Specify the number of users allowed</label>
                                    <input  ng-model="r.limit"/>
                                </md-input-container>
                            </div>

                            <md-input-container>
                                <label>Has Parent Request</label>
                                <md-select ng-model="r.hasParent">
                                    <md-option value="1">Yes</md-option>
                                    <md-option value="0">No</md-option>
                                </md-select>
                            </md-input-container>

                            <p>Add Request Properties <md-button  class="md-fab" ng-click="addRequestProperty(r)">+</md-button> </p>

                            <div ng-repeat="p in r.properties" style="margin-top:10px;">
                                <property-configuration property="p"></property-configuration>

                            </div>

                            <p>Request Post Users</p>
                            <select id="postUserSelect" style="margin-top:10px" ng-model="user" multiple="multiple" ng-change="addRequestPostUser(user,r)">
                                <option ng-repeat="user in tenant.users" value="{{user}}">{{user.name}}</option>
                            </select>
                            <ul>
                                <li ng-repeat="postUser in r.postUsers">
                                    {{postUser.name}}
                                </li>
                            </ul>

                            <p>Request View Users</p>
                            <select style="margin-top:10px" ng-model="user" multiple="multiple" ng-change="addRequestViewUser(user,r)">
                                <option ng-repeat="user in tenant.users" value="{{user}}">{{user.name}}</option>
                            </select>
                            <ul>
                                <li ng-repeat="viewUser in r.viewUsers">
                                    {{viewUser.name}}
                                </li>
                            </ul>

                            <p>Add Users Response</p>
                            <md-button class="md-raised" ng-click="addRequestUserResponse(r)">Add Response</md-button>
                            <div ng-repeat="response in r.userResponses">
                                <select style="margin-top:10px" ng-model="user" ng-change="addRequestResponseUser(user,response)">
                                    <option ng-repeat="user in tenant.users" value="{{user}}">{{user.name}}</option>
                                </select>
                                <select style="margin-top:10px" ng-model="responseRequest" multiple="multiple" ng-change="addRequestResponse(responseRequest,response)">
                                    <option ng-repeat="req in tenant.requests" value="{{req}}" ng-if="req.name != r.name">{{req.name}}</option>
                                </select>
                                <ul>
                                    <li ng-repeat="viewUser in response.responseRequests">
                                        {{viewUser.name}}
                                    </li>
                                </ul>
                            </div>

                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>

                </md-content>
            </md-tab>
            <md-tab label="Register">
                <md-content class="md-padding">
                    <h1 class="md-display-1">Register Tenant
                    </h1>
                    <p>Are you sure you want to register tenant with provided settings</p>
                    <md-button ng-click="registerTenant()">Register</md-button><br><br>
                    {{tenant}}
                </md-content>
            </md-tab>
        </md-tabs>
            </div>
        </form>
    </md-content>
</div>



