<md-toolbar class="md-toolbar-tools" style="margin:0px;width:100%;padding:20px;background-color:#66ccff;border-bottom: solid;border-bottom-width: 3px;border-bottom-color: #d3d3d3">
    <h3 class="md-display-1">Tenant Page</h3>
</md-toolbar>
<div style="padding:20px">
    <a href="/request/list/{{tenantID}}">List tenant requests</a><br><br>
    <a href="/user/list/byTenantId/{{tenantID}}">List tenant users</a><br><br>
    <a href="/user/create/{{tenantID}}">Create a new tenant user</a><br><br>
    <a href="/packages/createPackages/{{tenantID}}">Create a new Package</a><br><br>
    <a href="/packages/listPackages/{{tenantID}}">List all packages</a>

</div>