

<div style="padding-top: 20px;">
    <md-card style="margin: auto; text-align: center; width: 50%;">
        <h1>Forgot Password</h1>
        <label></label>
        <form name="myForm">
            <md-input-container>
                <label>Email</label>
                <input type="email" ng-model="emailId" name="emailId" required/>
                <div ng-messages="myForm.emailId.$error" ng-show="myForm.emailId.$touched && myForm.emailId.$invalid">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container><br>
            <md-button class="md-raised md-primary" aria-label="FAB" ng-click="submit()" ng-disabled="myForm.$invalid">Submit</md-button>
        </form>


        <span ng-show="loginError">{{loginErrorMessage}} </span>

    </md-card>
</div>
