
<div style="padding-top: 20px;">
        <h1>Reset Password</h1>
        <label></label>

            New Password:
            <input type="text" name="newPassword" id="newPassword" ><br><br>

            Confirm Password:
            <input type="text" name="confirmPassword" id="confirmPassword"><br><br>
            <input type="button" value="Reset" onclick="submit()">
        <input type="hidden" id="baseUrl" value= "<%= baseUrl %>" />



    <div>
        <input type="hidden" id="userid" value= "<%= userid %>" />
    </div>


    <script type="text/javascript">

        /*function validate(){
            if(myForm.newPassword.value!=myForm.confirmPassword.value)
            {
                document.getElementById('errfn').innerHTML="New Password and Confirm Password do not match";
            }
        }*/
        function submit(){
        debugger;

                var newPassword = document.getElementById("newPassword").value;
                var confirmPassword = document.getElementById("confirmPassword").value;
                var userId = document.getElementById("userid").value;
                var baseUrl = document.getElementById("baseUrl").value;
                var data = {userId : userId,
                newPassword : newPassword};
                 debugger;
                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "/api/email/resetPassword", false);
                xhttp.setRequestHeader("Content-type", "application/json");
                xhttp.send(JSON.stringify(data));
                //
                var response = JSON.parse(xhttp.responseText);
                if(response.success == true){
                   window.location.href = baseUrl ;

                }

        }

    </script>


</div>
