.navbar a{
<<<<<<< HEAD
   padding: 5px;
 }
.navbar{
  margin: 0px;
  padding: 5px;
  background-color: #0086B3;
}
nav{
  margin:0px;
  height:40px;
  width:100%;
  background-color: #4183c4;
=======
  padding: 5px;
>>>>>>> saira
}