*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html, body, ul, ol {
  margin: 0;
  padding: 0;
}

html>body {
  font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
  background-color: #eeeeee;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
}
h1{
  font-weight: 400;
  color: #999;
  font-size: 13px;
  margin: 48px 0 12px 22px;
}
div.panel{
  max-width: 65%;
  margin: auto;
  margin-top: calc(5% - 0px);
}
details{
  background:#fff;
  font-size:16px;
  border-bottom:1px solid #e0e0e0;
  box-shadow:0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.24);
  display:flex; }

details div.content{
  padding:0px 24px 24px 24px;
}

details[open] summary:after {
  color:#9e9e9e;
  content: "expand_less";
  font-family: 'Material Icons';
}
details[open]{
  margin-top:16px;
  margin-bottom:16px;
  border:none;
  border-radius: 2px;


}
details[open]:first-child{
  margin-top:0;
  margin-bottom:16px;
  border:none;
}
details[open]:last-child{
  margin-top:16px;
  margin-bottom:0px;
  border:none;
}

summary{
  outline:none;
  cursor: pointer;
  padding: 16px 24px;
  color:#212121;
  position: relative;
  font-size: 15px;
}
summary:hover{
  background:#eeeeee;
}

details[open] summary:hover{
  background:none;
}
summary ul {
  padding-left: 0;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
summary ul li{
  flex: 1 100%;
  flex-flow: row wrap;
}
summary ul li span{
  display: block;
  font-size: 12px;
  margin-top: 6px;
  opacity: .75;
}
summary::-webkit-details-marker {
  display: none;
}
summary::after {
  content: "expand_more";
  font-family: 'Material Icons';
  color: #9e9e9e;
  font-size: 1.5em;
  padding: 0;
  text-align: center;
  margin-top: 0;
  position: absolute;
  top: calc(50% - 12px);
  bottom: 0;
  right: 0;
  width: 6%;
}


.titleValue{ color: #757575; }
time{ color: #757575; opacity: .75; }
.list-unstyled { margin-top:15px; padding-left: 0; list-style: none;}
.list-unstyled li{ margin-bottom:6px; }

.navbar a{
   padding: 5px;
 }
.navbar{
  margin: 0px;
  margin-bottom:0px !important;
  padding: 5px;
  background-color: #0086B3;
}
nav{
  margin:0px;
  height:100%;
  width:100%;
  background-color: #4183c4;
}

/* line 20, ../src/ADM-dateTimePicker.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../src/ADM-dateTimePicker.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 33, ../src/ADM-dateTimePicker.scss */
.dtp-trs-3 {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 36, ../src/ADM-dateTimePicker.scss */
.dtp-trs-5 {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 40, ../src/ADM-dateTimePicker.scss */
.dtp-i {
  width: 25px;
  height: 25px;
  line-height: 25px;
  vertical-align: top;
  position: relative;
  display: inline-block;
  fill: inherit;
}
/* line 48, ../src/ADM-dateTimePicker.scss */
.dtp-i.dtp-i-90 {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 51, ../src/ADM-dateTimePicker.scss */
.dtp-i.dtp-i-180 {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 54, ../src/ADM-dateTimePicker.scss */
.dtp-i.dtp-i-270 {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 59, ../src/ADM-dateTimePicker.scss */
.dtp-ig {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}
/* line 80, ../src/ADM-dateTimePicker.scss */
.dtp-ig .fakeIcon {
  opacity: 0;
  height: 10px;
  width: 10px;
}
/* line 85, ../src/ADM-dateTimePicker.scss */
.dtp-ig .calendarIcon,
.dtp-ig .removeIcon,
.dtp-ig .closeIcon {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  padding: 0px 8px;
  padding-top: 2px;
  -moz-transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -o-transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -webkit-transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 99, ../src/ADM-dateTimePicker.scss */
.dtp-ig .calendarIcon {
  fill: #606060;
}
/* line 102, ../src/ADM-dateTimePicker.scss */
.dtp-ig .closeIcon {
  background: #378bd3;
  fill: white;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 109, ../src/ADM-dateTimePicker.scss */
.ADMdtp-calendar-container.rtl {
  font-family: Tahoma;
  direction: rtl;
}

/* line 114, ../src/ADM-dateTimePicker.scss */
.ADMdtp {
  font-family: sans-serif, sans-serif;
  line-height: 1.42857143;
  color: #797979;
}
/* line 119, ../src/ADM-dateTimePicker.scss */
.ADMdtp.rtl {
  font-family: Tahoma;
}
/* line 122, ../src/ADM-dateTimePicker.scss */
.ADMdtp.rtl .masterInput input {
  direction: ltr;
}
/* line 127, ../src/ADM-dateTimePicker.scss */
.ADMdtp ng-transclude,
.ADMdtp .clickOutContainer {
  position: relative;
  display: block;
}
/* line 133, ../src/ADM-dateTimePicker.scss */
.ADMdtp hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

/* line 147, ../src/ADM-dateTimePicker.scss */
.dtpNewBox {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  background: #f7f7f7;
  top: 0;
  left: 0;
  z-index: 9;
  direction: ltr;
}
/* line 159, ../src/ADM-dateTimePicker.scss */
.dtpNewBox.active {
  opacity: 1;
  height: 20em;
}
/* line 164, ../src/ADM-dateTimePicker.scss */
.dtpNewBox.active .timeSelectIcon {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 167, ../src/ADM-dateTimePicker.scss */
.dtpNewBox.active .content {
  opacity: 1;
}
/* line 171, ../src/ADM-dateTimePicker.scss */
.dtpNewBox:after, .dtpNewBox:before {
  content: '';
  position: absolute;
  display: block;
  background: #f7f7f7;
  height: 100%;
  width: 1em;
  top: 0;
  z-index: 0;
}
/* line 182, ../src/ADM-dateTimePicker.scss */
.dtpNewBox:after {
  left: -1em;
}
/* line 185, ../src/ADM-dateTimePicker.scss */
.dtpNewBox:before {
  right: -1em;
}
/* line 189, ../src/ADM-dateTimePicker.scss */
.dtpNewBox, .dtpNewBox .content, .dtpNewBox .calendarIcon {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 193, ../src/ADM-dateTimePicker.scss */
.dtpNewBox .content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}
/* line 201, ../src/ADM-dateTimePicker.scss */
.dtpNewBox .calendarIcon {
  position: absolute;
  display: block;
  top: .3em;
  left: -.5em;
  z-index: 1;
  font-size: 1.2em;
  width: 1em;
  height: 1em;
  text-align: center;
  cursor: pointer;
  color: white;
  -moz-transform: translate(-3em, -3em);
  -ms-transform: translate(-3em, -3em);
  -webkit-transform: translate(-3em, -3em);
  transform: translate(-3em, -3em);
}
/* line 215, ../src/ADM-dateTimePicker.scss */
.dtpNewBox .calendarIcon svg {
  height: 22px;
  width: 17px;
  fill: white;
}
/* line 220, ../src/ADM-dateTimePicker.scss */
.dtpNewBox .calendarIcon.show {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* line 223, ../src/ADM-dateTimePicker.scss */
.dtpNewBox .calendarIcon:after {
  content: '';
  position: absolute;
  display: block;
  top: -6px;
  left: -6px;
  width: 0;
  height: 0;
  border-top: 3em solid #fc5f2a;
  border-right: 3em solid transparent;
  z-index: -1;
}

/* line 238, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput {
  position: relative;
  display: table;
  border-collapse: separate;
}
/* line 242, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput[class*="col-"] {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
/* line 247, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput input {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  margin: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 267, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput input:focus {
  border-color: #66afe9;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/* line 274, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput input {
  position: relative;
  display: block;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
/* line 278, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput input[disabled] {
  background: white;
  color: black;
}
/* line 283, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput > .removeIcon {
  position: absolute;
  display: block;
  right: 2.1em;
  top: 0;
  z-index: 3;
  fill: #E64949;
  padding: 8px;
  cursor: pointer;
  opacity: .7;
  font-size: 1.1em;
  height: 34px;
}
/* line 295, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput > .removeIcon:hover {
  opacity: 1;
}
/* line 301, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput.open .dtp-ig .calendarIcon {
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
/* line 304, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput.open .dtp-ig .closeIcon {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 310, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput.disable input[disabled] {
  background: #f2f2f2;
  color: gray;
}
/* line 314, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput.disable > .removeIcon {
  display: none !important;
}
/* line 317, ../src/ADM-dateTimePicker.scss */
.ADMdtpInput.disable .dtp-ig {
  cursor: not-allowed;
}

/* line 324, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box {
  position: absolute;
  display: block;
  width: 20em;
  max-width: 100vw;
  min-height: 20em;
  max-height: 25.25em;
  padding: 1em;
  padding-top: 0;
  border-radius: 5px;
  background: white;
  overflow: hidden;
  z-index: 9;
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -moz-transition: opacity 0.5s, height 0.5s;
  -o-transition: opacity 0.5s, height 0.5s;
  -webkit-transition: opacity 0.5s, height 0.5s;
  transition: opacity 0.5s, height 0.5s;
  font-size: 14px;
}
/* line 340, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box ::-moz-selection {
  background: transparent;
}
/* line 343, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box ::selection {
  background: transparent;
}
/* line 346, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box.square {
  height: 20em;
}
/* line 350, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box.square header .arrow.left {
  margin-left: -2em;
}
/* line 353, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box.square header .arrow.right {
  margin-right: -2em;
}
/* line 358, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box.square footer {
  height: 0;
}
/* line 362, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .arrow {
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 1;
  top: 0;
  fill: #797979;
  direction: ltr;
  font-size: 1em;
  width: 38px;
  height: 100%;
  padding: 0 .3em;
}
/* line 375, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .arrow.left {
  left: 0;
}
/* line 377, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .arrow.left:hover {
  margin-left: -.3em;
  fill: #d6c483;
}
/* line 382, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .arrow.right {
  right: 0;
}
/* line 384, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .arrow.right:hover {
  margin-right: -.3em;
  fill: #d6c483;
}
/* line 390, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box header {
  font-size: 1.2em;
  position: relative;
}
/* line 394, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box header .yearMonth {
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
  padding: 1em 0;
  z-index: 0;
  cursor: pointer;
  color: #797979;
}
/* line 405, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .daysNames,
.ADMdtp-box .ADMdtpDays {
  width: 100%;
}
/* line 408, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .daysNames > span,
.ADMdtp-box .ADMdtpDays > span {
  width: calc(100% / 7);
  display: inline-block;
  text-align: center;
}
/* line 414, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .ADMdtpDays {
  min-height: 12em;
}
/* line 418, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box .daysNames > span {
  font-weight: bold;
  cursor: context-menu;
  color: #fc5f2a;
}
/* line 424, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer {
  height: 1.7em;
  position: relative;
  overflow: hidden;
}
/* line 428, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .today {
  position: absolute;
  display: block;
  width: 6em;
  height: 1.7em;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: .5em;
  background: transparent;
  color: #cab15c;
  border: 1px solid transparent;
  text-align: center;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  line-height: 1;
}
/* line 446, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .today:hover {
  border-color: #f2f2f2;
}
/* line 449, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .today:active {
  background: #fcfbf6;
}
/* line 453, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer {
  position: absolute;
  display: block;
  width: 5.5em;
  height: 1.7em;
  right: 0;
  overflow: hidden;
  cursor: pointer;
  border-radius: .5em;
  border: 1px solid transparent;
}
/* line 464, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer:hover {
  border-color: #f2f2f2;
}
/* line 467, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer:hover.gregorian p.jalali {
  background: #e3d6a9;
}
/* line 472, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer:hover.jalali p.gregorian {
  background: #e3d6a9;
}
/* line 477, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer:active {
  background: #fcfbf6;
}
/* line 480, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer p {
  margin: 0;
  line-height: 1.4em;
  text-align: center;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.1em 0;
  white-space: nowrap;
  color: #cab15c;
  -moz-transition: all 0.3s, -moz-transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -o-transition: all 0.3s, -o-transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -webkit-transition: all 0.3s, -webkit-transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: all 0.3s, transform 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
/* line 493, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer p.jalali {
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
/* line 499, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer.jalali p.gregorian {
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* line 502, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .calTypeContainer.jalali p.jalali {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 508, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .timeSelectIcon {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  font-size: 1.5em;
  padding: 0.1em;
  margin-left: 0.2em;
  fill: #e3d6a9;
  cursor: pointer;
}
/* line 519, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .timeSelectIcon:hover {
  fill: #cab15c;
}
/* line 522, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box footer .timeSelectIcon:active {
  fill: #e3d6a9;
}
/* line 527, ../src/ADM-dateTimePicker.scss */
.ADMdtp-box hr {
  margin: .5em 0;
}

/* line 531, ../src/ADM-dateTimePicker.scss */
.ADMdtpMonths {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 538, ../src/ADM-dateTimePicker.scss */
.ADMdtpMonths.onYear span > span {
  width: calc(25% - 6px);
}
/* line 543, ../src/ADM-dateTimePicker.scss */
.ADMdtpMonths.rtl span > span {
  float: right;
}
/* line 547, ../src/ADM-dateTimePicker.scss */
.ADMdtpMonths span > span {
  width: calc(33% - 6px);
  text-align: center;
  position: relative;
  display: block;
  float: left;
  border-radius: .5em;
  background: #ebebeb;
  color: #a8a8a8;
  border: 1px solid #dedede;
  padding: 1em 0;
  margin: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: .9em;
}
/* line 565, ../src/ADM-dateTimePicker.scss */
.ADMdtpMonths span > span.selected, .ADMdtpMonths span > span:hover {
  border-color: #d2d2d2;
  background: #d2d2d2;
  color: #757575;
}

/* line 575, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears {
  color: #b9b9b9;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 0.2em;
}
/* line 582, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears p {
  margin: 0;
  cursor: pointer;
}
/* line 586, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears p:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  border-bottom: 2px solid #ECECEC;
  top: 1em;
  left: 0;
  z-index: -1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 597, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears p:hover {
  color: #fc5f2a;
}
/* line 599, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears p:hover:before {
  border-color: rgba(252, 95, 42, 0.2);
}
/* line 604, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears .arrow {
  margin-top: 0em;
  height: 35px;
  width: 35px;
  opacity: .7;
}
/* line 609, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears .arrow.right {
  right: 1.5em;
}
/* line 612, ../src/ADM-dateTimePicker.scss */
.ADMdtpYears .arrow.left {
  left: 1.5em;
}

/* line 617, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 623, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span {
  width: 33%;
  height: 3em;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  vertical-align: middle;
  line-height: 3em;
}
/* line 632, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon {
  cursor: pointer;
}
/* line 634, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon svg {
  fill: #fc5f2a;
  height: 43px;
  position: absolute;
  display: block;
  width: 100%;
  top: 0.2em;
  left: 0;
}
/* line 645, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon:hover svg {
  fill: #fdab8f;
}
/* line 648, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon:hover:before {
  background: #f6f2e3;
}
/* line 653, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon:active svg {
  fill: #fc5f2a;
}
/* line 656, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon:active.up {
  margin-top: -3px;
}
/* line 659, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon:active.down {
  margin-bottom: -3px;
}
/* line 663, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.dtpIcon:before {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: .8em 1em;
  border-radius: 1em;
}
/* line 669, ../src/ADM-dateTimePicker.scss */
.ADMdtpTime span.period {
  font-size: 2em;
}

/* line 676, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span {
  width: 100%;
  height: 100%;
  padding: .5em;
  border-radius: .5em;
  cursor: pointer;
  position: relative;
  display: block;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 685, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span.disable {
  opacity: .5;
  cursor: context-menu;
}
/* line 690, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span:not(.disable):hover {
  background: #fee3da;
  color: #d63803;
}
/* line 695, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span.selected, .ADMdtpMonths .ADMdtpDays > span > span:hover {
  background: #fc5f2a !important;
  color: white !important;
  border-radius: 5em;
}
/* line 700, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span.valid {
  background: #fff6f3;
  border-radius: 0;
}
/* line 703, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span.valid.min {
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  border-left: 2px solid #febda8;
}
/* line 708, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span.valid.max {
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
  border-right: 2px solid #febda8;
}
/* line 716, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays > span > span.today:after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 0.7em solid #e3d6a9;
  border-left: .7em solid transparent;
}
/* line 736, ../src/ADM-dateTimePicker.scss */
.ADMdtpDays.loading > span > span {
  -moz-transform:  rotateY(90deg) translateX(-10px);
  -ms-transform:  rotateY(90deg) translateX(-10px);
  -webkit-transform:  rotateY(90deg) translateX(-10px);
  transform:  rotateY(90deg) translateX(-10px);
}

/* -- import Roboto Font ---------------------------- */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
/* -- import Material Icons Font -------------------- */
@font-face {
  font-family: 'Material Design Iconic Font';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.eot?v=1.0');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.eot?#iefix&v=1.0') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.woff?v=1.0') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.ttf?v=1.0') format('truetype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/Material-Design-Iconic-Font.svg?v=1.0#Material-Design-Iconic-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
[class^="md-"],
[class*=" md-"] {
  display: inline-block;
  font: normal normal normal 14px/1 'Material Design Iconic Font';
  font-size: inherit;
  speak: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.md {
  line-height: inherit;
  vertical-align: bottom;
}
.md-inbox:before {
  content: "\f10c";
}
.md-star:before {
  content: "\f2e5";
}
.md-send:before {
  content: "\f119";
}
.md-drafts:before {
  content: "\f107";
}
.md-arrow-back:before {
  content: "\f297";
}
.md-arrow-forward:before {
  content: "\f298";
}
*/
/* -- You can use this sidebar in Bootstrap (v3) projects. HTML-markup like Navbar bootstrap component will make your work easier. -- */
/* -- Box model ------------------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* -- Demo style ------------------------------- */
html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
}
body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #212121;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.sidebar-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  z-index: 1034;
  -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.sidebar-overlay.active {
  opacity: 0.5;
  visibility: visible;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
}
.top-bar {
  height: 25px;
  background: rgba(0, 0, 0, 0.1);
}
/* -- Google typography ------------------------------- */
.headline {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
}
.subhead {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
}
/* -- Bootstrap-like style ------------------------------- */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown-menu {
  display: none;
}
/* -- Constructor style ------------------------------- */
.constructor {
  position: relative;
  margin: 0;
  padding: 0 50px;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidebar,
.wrapper {
  display: table-cell;
  vertical-align: top;
}
.sidebar-stacked.open + .wrapper .constructor {
  margin-left: 280px;
}
@media (max-width: 768px) {
  .sidebar-stacked.open + .wrapper .constructor {
    margin-left: 240px;
  }
}
/* -- Sidebar style ------------------------------- */
.sidebar {
  position: relative;
  display: block;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidebar:before,
.sidebar:after {
  content: " ";
  display: table;
}
.sidebar:after {
  clear: both;
}
.sidebar::-webkit-scrollbar-track {
  border-radius: 2px;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}
.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #BFBFBF;
}
.sidebar .sidebar-header {
  position: relative;
  height: 157.5px;
  margin-bottom: 8px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-header.header-cover {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sidebar .sidebar-header:hover .sidebar-toggle {
  opacity: 1;
}
.sidebar .sidebar-toggle {
  position: relative;
  float: right;
  margin: 16px;
  padding: 0;
  background-image: none;
  border: none;
  height: 40px;
  width: 40px;
  font-size: 20px;
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-toggle:before,
.sidebar .sidebar-toggle:after {
  content: " ";
  display: table;
}
.sidebar .sidebar-toggle:after {
  clear: both;
}
.sidebar .icon-material-sidebar-arrow:before {
  content: "\e610";
}
.sidebar .sidebar-image img {
  width: 54px;
  height: 54px;
  margin: 16px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-brand {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0;
  padding-left: 16px;
  padding-right: 56px;
  text-decoration: none;
  clear: both;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-brand:hover,
.sidebar .sidebar-brand:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sidebar .sidebar-brand .caret {
  position: absolute;
  right: 24px;
  top: 24px;
}
.sidebar .sidebar-brand .sidebar-badge {
  position: absolute;
  right: 16px;
  top: 12px;
}
.sidebar .sidebar-brand:hover,
.sidebar .sidebar-brand:focus {
  text-decoration: none;
}
.sidebar .sidebar-badge {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0 3px;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.sidebar .sidebar-badge.badge-circle {
  border-radius: 50%;
}
.sidebar .sidebar-divider,
.sidebar .sidebar-nav .divider {
  position: relative;
  display: block;
  height: 1px;
  margin: 8px 0;
  padding: 0;
  overflow: hidden;
}
.sidebar .sidebar-text {
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0;
  padding-left: 16px;
  padding-right: 56px;
  text-decoration: none;
  clear: both;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-text:hover,
.sidebar .sidebar-text:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sidebar .sidebar-text .caret {
  position: absolute;
  right: 24px;
  top: 24px;
}
.sidebar .sidebar-text .sidebar-badge {
  position: absolute;
  right: 16px;
  top: 12px;
}
.sidebar .sidebar-icon {
  display: inline-block;
  margin-right: 16px;
  min-width: 40px;
  width: 40px;
  text-align: left;
  font-size: 20px;
}
.sidebar .sidebar-icon:before,
.sidebar .sidebar-icon:after {
  vertical-align: middle;
}
.sidebar .sidebar-nav {
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-nav li {
  position: relative;
  list-style-type: none;
}
.sidebar .sidebar-nav li a {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0;
  padding-left: 16px;
  padding-right: 56px;
  text-decoration: none;
  clear: both;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-nav li a:hover,
.sidebar .sidebar-nav li a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sidebar .sidebar-nav li a .caret {
  position: absolute;
  right: 24px;
  top: 24px;
}
.sidebar .sidebar-nav li a .sidebar-badge {
  position: absolute;
  right: 16px;
  top: 12px;
}
.sidebar .sidebar-nav li a:hover {
  background: transparent;
}
.sidebar .sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidebar-default {
  background-color: #fff;
}
.sidebar-default .sidebar-header {
  background-color: #eceff1;
}
.sidebar-default .sidebar-toggle {
  color: #212121;
  background-color: transparent;
}
.sidebar-default .sidebar-brand {
  color: #757575;
  background-color: transparent;
}
.sidebar-default .sidebar-brand:hover,
.sidebar-default .sidebar-brand:focus {
  color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-default .sidebar-badge {
  color: #fff;
  background-color: #bdbdbd;
}
.sidebar-default .sidebar-divider,
.sidebar-default .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-default .sidebar-text {
  color: #212121;
}
.sidebar-default .sidebar-nav li > a {
  color: #212121;
  background-color: transparent;
}
.sidebar-default .sidebar-nav li > a i {
  color: #757575;
}
.sidebar-default .sidebar-nav li:hover > a,
.sidebar-default .sidebar-nav li > a:hover {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav li:hover > a i,
.sidebar-default .sidebar-nav li > a:hover i {
  color: #757575;
}
.sidebar-default .sidebar-nav li:focus > a,
.sidebar-default .sidebar-nav li > a:focus {
  color: #212121;
  background-color: transparent;
}
.sidebar-default .sidebar-nav li:focus > a i,
.sidebar-default .sidebar-nav li > a:focus i {
  color: #757575;
}
.sidebar-default .sidebar-nav > .open > a,
.sidebar-default .sidebar-nav > .open > a:hover,
.sidebar-default .sidebar-nav > .open > a:focus {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .active > a,
.sidebar-default .sidebar-nav > .active > a:hover,
.sidebar-default .sidebar-nav > .active > a:focus {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .disabled > a,
.sidebar-default .sidebar-nav > .disabled > a:hover,
.sidebar-default .sidebar-nav > .disabled > a:focus {
  color: #e0e0e0;
  background-color: transparent;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: #e0e0e0;
  color: #212121;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: #cecece;
  color: #212121;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-inverse {
  background-color: #212121;
}
.sidebar-inverse .sidebar-header {
  background-color: #eceff1;
}
.sidebar-inverse .sidebar-toggle {
  color: #212121;
  background-color: transparent;
}
.sidebar-inverse .sidebar-brand {
  color: #757575;
  background-color: transparent;
}
.sidebar-inverse .sidebar-brand:hover,
.sidebar-inverse .sidebar-brand:focus {
  color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-inverse .sidebar-badge {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-inverse .sidebar-divider,
.sidebar-inverse .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-inverse .sidebar-text {
  color: #f5f5f5;
}
.sidebar-inverse .sidebar-nav li > a {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-inverse .sidebar-nav li > a i {
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav li:hover > a,
.sidebar-inverse .sidebar-nav li > a:hover {
  color: #bdbdbd;
  background-color: #000;
}
.sidebar-inverse .sidebar-nav li:hover > a i,
.sidebar-inverse .sidebar-nav li > a:hover i {
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav li:focus > a,
.sidebar-inverse .sidebar-nav li > a:focus {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-inverse .sidebar-nav li:focus > a i,
.sidebar-inverse .sidebar-nav li > a:focus i {
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav > .open > a,
.sidebar-inverse .sidebar-nav > .open > a:hover,
.sidebar-inverse .sidebar-nav > .open > a:focus {
  color: #bdbdbd;
  background-color: #000;
}
.sidebar-inverse .sidebar-nav > .active > a,
.sidebar-inverse .sidebar-nav > .active > a:hover,
.sidebar-inverse .sidebar-nav > .active > a:focus {
  color: #f5f5f5;
  background-color: #000;
}
.sidebar-inverse .sidebar-nav > .disabled > a,
.sidebar-inverse .sidebar-nav > .disabled > a:hover,
.sidebar-inverse .sidebar-nav > .disabled > a:focus {
  color: #757575;
  background-color: transparent;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: #000;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: #000;
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: #000000;
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #f5f5f5;
  background-color: #000;
}
.sidebar-colored {
  background-color: #fff;
}
.sidebar-colored .sidebar-header {
  background-color: #e91e63;
}
.sidebar-colored .sidebar-toggle {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-colored .sidebar-brand {
  color: #e0e0e0;
  background-color: transparent;
}
.sidebar-colored .sidebar-brand:hover,
.sidebar-colored .sidebar-brand:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored .sidebar-badge {
  color: #fff;
  background-color: #ec407a;
}
.sidebar-colored .sidebar-divider,
.sidebar-colored .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-colored .sidebar-text {
  color: #212121;
}
.sidebar-colored .sidebar-nav li > a {
  color: #212121;
  background-color: transparent;
}
.sidebar-colored .sidebar-nav li > a i {
  color: #757575;
}
.sidebar-colored .sidebar-nav li:hover > a,
.sidebar-colored .sidebar-nav li > a:hover {
  color: #e91e63;
  background-color: #e0e0e0;
}
.sidebar-colored .sidebar-nav li:hover > a i,
.sidebar-colored .sidebar-nav li > a:hover i {
  color: #f06292;
}
.sidebar-colored .sidebar-nav li:focus > a,
.sidebar-colored .sidebar-nav li > a:focus {
  color: #212121;
  background-color: transparent;
}
.sidebar-colored .sidebar-nav li:focus > a i,
.sidebar-colored .sidebar-nav li > a:focus i {
  color: #f06292;
}
.sidebar-colored .sidebar-nav > .open > a,
.sidebar-colored .sidebar-nav > .open > a:hover,
.sidebar-colored .sidebar-nav > .open > a:focus {
  color: #e91e63;
  background-color: #e0e0e0;
}
.sidebar-colored .sidebar-nav > .active > a,
.sidebar-colored .sidebar-nav > .active > a:hover,
.sidebar-colored .sidebar-nav > .active > a:focus {
  color: #212121;
  background-color: #f5f5f5;
}
.sidebar-colored .sidebar-nav > .disabled > a,
.sidebar-colored .sidebar-nav > .disabled > a:hover,
.sidebar-colored .sidebar-nav > .disabled > a:focus {
  color: #e0e0e0;
  background-color: transparent;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: #e0e0e0;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: #e0e0e0;
  color: #e91e63;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: #cecece;
  color: #e91e63;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #212121;
  background-color: #f5f5f5;
}
.sidebar-colored-inverse {
  background-color: #e91e63;
}
.sidebar-colored-inverse .sidebar-header {
  background-color: #eceff1;
}
.sidebar-colored-inverse .sidebar-toggle {
  color: #212121;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-brand {
  color: #757575;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-brand:hover,
.sidebar-colored-inverse .sidebar-brand:focus {
  color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-badge {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-colored-inverse .sidebar-divider,
.sidebar-colored-inverse .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-colored-inverse .sidebar-text {
  color: #e0e0e0;
}
.sidebar-colored-inverse .sidebar-nav li > a {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-nav li > a i {
  color: #e0e0e0;
}
.sidebar-colored-inverse .sidebar-nav li:hover > a,
.sidebar-colored-inverse .sidebar-nav li > a:hover {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-nav li:hover > a i,
.sidebar-colored-inverse .sidebar-nav li > a:hover i {
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav li:focus > a,
.sidebar-colored-inverse .sidebar-nav li > a:focus {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-nav li:focus > a i,
.sidebar-colored-inverse .sidebar-nav li > a:focus i {
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav > .open > a,
.sidebar-colored-inverse .sidebar-nav > .open > a:hover,
.sidebar-colored-inverse .sidebar-nav > .open > a:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-nav > .active > a,
.sidebar-colored-inverse .sidebar-nav > .active > a:hover,
.sidebar-colored-inverse .sidebar-nav > .active > a:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.2);
}
.sidebar-colored-inverse .sidebar-nav > .disabled > a,
.sidebar-colored-inverse .sidebar-nav > .disabled > a:hover,
.sidebar-colored-inverse .sidebar-nav > .disabled > a:focus {
  color: #bdbdbd;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.2);
}
.sidebar {
  width: 0;
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
}
.sidebar.open {
  min-width: 280px;
  width: 280px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sidebar-fixed-left,
.sidebar-fixed-right,
.sidebar-stacked {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1035;
}
.sidebar-stacked {
  left: 0;
}
.sidebar-fixed-left {
  left: 0;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
}
.sidebar-fixed-right {
  right: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  -webkit-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}
.sidebar-fixed-right.open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sidebar-fixed-right .icon-material-sidebar-arrow:before {
  content: "\e614";
}
@media (max-width: 768px) {
  .sidebar.open {
    min-width: 240px;
    width: 240px;
  }
  .sidebar .sidebar-header {
    height: 135px;
  }
  .sidebar .sidebar-image img {
    width: 44px;
    height: 44px;
  }
}

