<!--
&lt;!&ndash;<h1>My Requests</h1>&ndash;&gt;
&lt;!&ndash;<h1>Requests</h1>&ndash;&gt;
<md-toolbar class="md-toolbar-tools" style="margin:0px;width:100%;padding:20px;background-color:#66ccff;border-bottom: solid;border-bottom-width: 3px;border-bottom-color: #d3d3d3">
    <h3 class="md-display-1">My Requests</h3>
</md-toolbar>

<div style="padding:10px">

<div ng-repeat="r in requests">
    <details>
        <summary>
            <ul>
                <li class="titleName"><a href="/request/view/{{r._id}}">{{r.name}}</a></li>
                <li class="titleValue"> {{r.datePosted}}</li>
                &lt;!&ndash;<li class="titleValue"> {{response.requestDetails.postUserDetails.userType}}</li>&ndash;&gt;
                <li></li>
            </ul>
        </summary>
        <div class="content">
            <div ng-repeat="reqResponse in requestResponses">
&lt;!&ndash;
                <div ng-if="reqResponse.request.name == r.requestType && r.userResponded == false">
                    <br>
                    <select ng-model="response" ng-change="respondRequest(r,response)">
                        <option ng-repeat="response in reqResponse.responses" value="{{response}}">{{response.name}}</option>
                    </select>
                </div>
&ndash;&gt;
                &lt;!&ndash;<div ng-if="r.userResponded == true">&ndash;&gt;
                    <div ng-repeat="response in r.userResponses">
                        <request-response response="response" request-responses="requestResponses" userid="userid"></request-response>
                    </div>
                &lt;!&ndash;</div>&ndash;&gt;
            </div>
        </div>
    </details>
</div>

</div>-->


<!--<h1>Requests</h1>-->
<!--
<md-toolbar class="md-toolbar-tools" style="margin:0px;width:100%;padding:20px;background-color:#66ccff;border-bottom: solid;border-bottom-width: 3px;border-bottom-color: #d3d3d3">
    <h3 class="md-display-1">Requests</h3>
</md-toolbar>

<div style="padding:10px">
<div ng-repeat="r in requests">
<details>
    <summary>
        <ul>
            <li class="titleName"><a href="/request/view/{{r._id}}">{{r.name}}</a></li>
            <li class="titleValue"> {{r.datePosted}}</li>
            &lt;!&ndash;<li class="titleValue"> {{response.requestDetails.postUserDetails.userType}}</li>&ndash;&gt;
            <li></li>
        </ul>
    </summary>
    <div class="content">
        <div ng-repeat="reqResponse in requestResponses">

            <div ng-if="reqResponse.request.name == r.requestType && r.userResponded == false">
                <br>
                <select ng-model="response" ng-change="respondRequest(r,response)">
                    <option ng-repeat="response in reqResponse.responses" value="{{response}}">{{response.name}}</option>
                </select>
            </div>

            <div ng-if="r.userResponded == true">
                <div ng-repeat="response in r.userResponses">
                    <request-response response="response" request-responses="requestResponses" userid="userid"></request-response>
                </div>
            </div>
        </div>
    </div>
</details>
</div>
</div>-->

<!--

<header>
    <nav>
        <div class="row fixed-top middle-xs header  header-companies">
            <div class="header-burger hidden-lg">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header-logo">
                <a href="companies.html">
                    <img src="../public/images/logo.svg" alt="Side Logo" class="side-logo-blue">
                    <img src=".../images/logo-white.svg" alt="Side Logo" class="side-logo-white">
                </a>
            </div>
            <div class="header-navigation end-xs">
                <ul>
                    <li class="hidden-xs hidden-md">
                        <div class="header-link" id="tasks">
                            Tasks
                            <i id="tasks-icon" class="side-arrow-bottom icons"></i>

                            <div class="header-tasks hidden-xs hidden-md">
                                <div class="row center-xs">
                                    <a href="tasks.html#office
" class="header-tasks-item">
                                        <h3>
                                            <i class="side-office icons green"></i> npDemoOffice
                                        </h3>
                                        <ul>
                                            <li>Admin Assistant</li>
                                            <li>Customer Support</li>
                                            <li>Online Research...</li>
                                        </ul>
                                    </a>
                                    <a href="tasks.html#logistic
" class="header-tasks-item">
                                        <h3>
                                            <i class="side-logistic icons pink"></i> npDemoLogistics
                                        </h3>
                                        <ul>
                                            <li>Packing and Order Prep</li>
                                            <li>Handling</li>
                                            <li>Inventory...</li>
                                        </ul>
                                    </a>
                                    <a href="tasks.html#sales
" class="header-tasks-item">
                                        <h3>
                                            <i class="side-sales-rep icons orange"></i> npDemoSales Rep
                                        </h3>
                                        <ul>
                                            <li>Business Development</li>
                                            <li>Sales Assistant</li>
                                            <li>Product Demo...</li>
                                        </ul>
                                    </a>
                                    <a href="tasks.html#event
" class="header-tasks-item">
                                        <h3>
                                            <i class="side-event icons yellow"></i> npDemoEvent
                                        </h3>
                                        <ul>
                                            <li>Event Hosts</li>
                                            <li>Waiting Staff</li>
                                            <li>Event Coordinator...</li>
                                        </ul>
                                    </a>
                                </div>
                                <div class="row center-xs middle-xs header-cta">
                                    <a href="tasks.html">
                                        Show more tasks
                                        <i class="icons side-arrow-2-left"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="hidden-xs hidden-md">
                        <a class="header-link" href="pricing.html">
                            Pricing
                        </a>
                    </li>
                    <li class="hidden-xs hidden-md">
                        <a class="header-link" href="stories.html">
                            Use cases
                        </a>
                    </li>
                    <li class="hidden-xs hidden-md">
                        <a class="header-link" href="https://help.side.co/hc/en-gb">
                            Help Center
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a class="header-link" href="signin.html">
                            Sign in
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="https://team.side.co/en/signup" class="btn btn-lg btn-primary" id="companyOnboardingHeader">
                            Company Signup
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="../en.html" class="btn btn-lg btn-green">
                            Work as a npDemo
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header-sidebar-overlay"></div>
            <div id="sidebar-swipe" class="swipe-aera"></div>
            <div class="hidden-lg header-sidebar">
                <ul>
                    <li>
                        <div class="header-logo">
                            <a href="../index.html">
                                <img src="images/logo.svg" alt="Side Logo">
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="header-link" href="tasks.html">
                            Tasks
                        </a>
                    </li>
                    <li>
                        <a class="header-link" href="pricing.html">
                            Pricing
                        </a>
                    </li>
                    <li>
                        <a class="header-link" href="stories.html">
                            Use cases
                        </a>
                    </li>
                    <li>
                        <a class="header-link" href="https://help.side.co/hc/en-gb">
                            Help Center
                        </a>
                    </li>
                    <li>
                        <a class="header-link" href="signin.html">
                            Sign in
                        </a>
                    </li>
                    <li>
                        <a href="https://team.side.co/en/signup" class="btn btn-primary white" id="companyOnboardingHeader">
                            Company Signup
                        </a>
                    </li>
                    <li>
                        <a href="../en.html" class="btn btn-green white">
                            Work as a npDemo
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
-->





<div class="full-width white-bg hide-on-phone">



    <div class="full-width-container margin-bot-30">

        <div class="top-search-fields">

            <input type="text" placeholder="Job Title, Keywords, or Company" class="search-job-field">

            <input type="text" placeholder="Job Title, Keywords, or Company" class="search-job-location">


            <select class="jobs-dropdown">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>

            <div class="jobs-filter-create-btn">

                <button value="Search"> Search </button>

            </div>


        </div>

    </div>









</div>


<div class="full-width-container white-bg hide-on-phone">




    <div class="job-search-filter-row">

        <select class="jobs-filter-dropdown">
            <option value="volvo">Job Type</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>



        <select class="jobs-filter-dropdown">
            <option value="volvo">Date Posted</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>


        <select class="jobs-filter-dropdown">
            <option value="volvo">Salary Range</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>


        <select class="jobs-filter-dropdown">
            <option value="volvo">Distance</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>



        <select class="jobs-filter-dropdown">
            <option value="volvo">More</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>




        <div class="create-jobs-filter-btn">

            <!--<div layout="row" ng-cloak style="height: 300px">
                <style>
                    .edgePadding {
                        padding-left: 25px;
                        padding-right: 25px;
                    }

                </style>
                <div layout="column" layout-align="center start" layout-padding flex>


                    <div class="dialog-demo-content" layout="column" layout-align="center center" style="width:100%">

                        <md-button class="md-primary md-raised edgePadding" ng-click="openOffscreen()" >
                            Open From Top Left - Close Slide Down
                        </md-button>
                    </div>

                </div>

                <div layout="column" layout-align="center center"
                     style="background-color: #f2f2f2" class="md-padding">
                    <span id="right">right</span>
                </div>
            </div>-->

            <button ng-controller="dialogController" value="Search" ng-click="showAdvanced($event)"> Create Job Alert </button>
            <!--<md-button class="md-primary md-raised edgePadding" ng-click="openOffscreen()" >
                Open From Top Left - Close Slide Down
            </md-button>-->

        </div>






    </div>


</div>



<div class="full-width white-bg hide-on-large">


    <input type="text" placeholder="Jobs Search" class="search-job-field-mobile">



</div>


<div class="full-width-container-nopadding white-bg">

    <div class="search-two-column-row">

        <div  class="search-result-left-col  mCustomScrollbar" style="overflow:scroll;">



            <div ng-repeat="r in requests">

                <a class="company-result-row  " ng-click="selectTask(r._id)">



                    <div class="company-result-left-box">

                        <div class="company-left-col-logo">
                            <img src="../public/images/companies/fsd-solutions-squarelogo-1505378201511.png">
                        </div>



                    </div>




                    <div class="company-result-right-box">
                        <div class="company-left-job-title">

                            {{r.name}}

                        </div>


                        <div class="company-left-title">

                            {{r.postUserDetails.name}}

                        </div>

                        <div class="company-left-city">

                            {{r.location}}

                        </div>


                    </div>



                    <div class="date-posted">


                        {{r.datePosted}}


                    </div>








                </a>
            </div>



            <div class="blank-height-50">


            </div>

        </div>





        <div class="search-result-description-right-col   " style="overflow:scroll;">


            <div class="right-detail-job-row">


                <div class="job-detail-right-head">

                    {{selectedRequest.name}}

                </div>




               <!-- <div class="create-jobs-filter-btn">

                    <button value="Search" class="apply-btn"> Apply Now</button>

                </div>-->


                <div class="job-company-right-head">

                    <div>{{selectedRequest.postUserDetails.name}}</div>
                    <span>Karachi</span>

                </div>


            </div>





            <div class="jobs-tab-detail-row mCustomScrollbar">

                <md-content ng-if="!requestSelected">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Details">
                            <md-content class="md-padding">
                                <p style="visibility: hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus Nulla venenatis ante augue. Phasellus </p>
                                <p>{{selectedRequest.description}}</p>
                            </md-content>
                        </md-tab>
                        <md-tab label="Response">
                            <md-content class="md-padding">
                                <p style="visibility: hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus Nulla venenatis ante augue. Phasellus
                                </p>
                                <h1>User Responses</h1>
                                <div ng-repeat="response in selectedRequest.userResponses">
                                    <request-response response="response" request-responses="requestResponses" userid="userid"></request-response>
                                </div>
                            </md-content>
                        </md-tab>
                        <!--<md-tab label="three">-->
                            <!--<md-content class="md-padding">-->
                                <!--<h1 class="md-display-2">Tab Three</h1>-->
                                <!--<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>-->
                            <!--</md-content>-->
                        <!--</md-tab>-->
                    </md-tabs>
                </md-content>

                <!--&lt;!&ndash; //tab-wrapper &ndash;&gt;-->
                <!--<md-content ng-if="requestSelected">-->
                <!--No Request Selected-->
                <!--</md-content>-->







            </div>



            <div class="blank-height-50">


            </div>

            <div class="blank-height-50">


            </div>




        </div>



    </div>

    



</div>




