<md-toolbar class="md-toolbar-tools" style="margin:-10px;width:107%;padding:10px; padding-left: 100px;">
    <h3 class="md-display-1">View Request</h3>
</md-toolbar>
<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="REQUEST DETAILS">
                <md-content class="md-padding">
                    <form name="form">
                        <table class="table">

                            <tr ng-repeat="(key, value) in result" property-display="row" property="value" data="key" style="border: 0;">
                        <!--<tr ng-repeat="l in list" class="row" name="test">-->
                            <!--<property-display property="key" data="value"></property-display>-->
                        <!--</tr>-->
                            </tr>

                        </table>
                    </form>
                </md-content>
            </md-tab>
            <md-tab label="RESPONSES DETAILS" ng-click="viewResponse()">
                <md-content class="md-padding">
                    <h1>User Responses</h1>
                    <div ng-repeat="response in responses[0].userResponses">
                        <request-response-expansion response="response"></request-response-expansion>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>

